*{
    font-family: "Poppins" ,sans-serif;
    line-height: 30px;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
}
.container{
    background: #fff;
    height: 500px;
    display: flex;
    justify-content: center;
    border-radius:2px;
    margin-top: 60px;
    margin-left: 50px;
    box-shadow: -10px 20px 50px #91010fcc;
}
.contact-info{
    padding: 20px;
    background: black;
    width: 230px;
    height: 300px;
    color: #fff;
    margin-top: 50px;
    margin-left: -100px;
    border-radius: 2px;
    z-index: 2;
    position: absolute;
    margin-left: 700px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
span{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    margin-top: 2px;
}
.i{
    width: 45px;
    cursor: pointer;
    color:#000000;
    font-size: 15px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    margin-top: 10px;
    /* text-align: right; */
}
.social{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #fff; */
}
#social-icon{
    font-size: 30px;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#fff;
}
#social-icon:hover{
    color: #fa1e34;

}
.contact{
    padding: 20px;
    width: 750px;
    height: 500px;
   background: #fff;
   z-index:1;
   position: absolute;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.heading{
    font-size: 60px;
    margin-bottom: 50px;
    text-align:left;
    /* background: #fff; */
}
.inputname{
    color: #000000;
    pointer-events: none;
    margin-top: 0px;
    padding: 0;

}
.inputbox{
    width: 255px;
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
   
}
.inputname{
    position: relative;
    top: -30px;
    left: 0;
    transition: 0.25s ease-in-out;
}
input{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
textarea{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    resize: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.textname{
    color: black;
    pointer-events: none;
    margin-top: 0px;
    padding: 0;
    position: relative;
    top: -100px;
    left: 0;
    transition: 0.25s ease-in-out;
}
.container .contact .inputbox input:focus~span,
.container .contact .inputbox input:valid~span{
    position: relative;
    top: -60px;
    font-size:10px;
    color:#fa1e34;
}
.container .contact .inputbox textarea:focus~span,
.container .contact .inputbox textarea:valid~span{
    position: relative;
    top: -10px;
    font-size:10px;
    color:#fa1e34;
}
.submit{
    background: #0c0c0c;
    color: #fff;
    border-radius: 2px;
    font-weight: 600;
    font-size: 19px;
}
.submit:hover{
    background:rgb(60, 63, 63)
}